.playback-slider {
    width: 70%;
}
.volume-slider{
    width: 70%;
}
#playbar {
    width: 100%;
    display: flex;
    align-items: center;
}
#volumebar {
    width: 100%;
    display: flex;
    align-items: center;
}
