<section>
    <div class="left-section">
        <div id="search-bar">
            <mat-form-field id="search-field">
            <mat-label>Search</mat-label>
            <input matInput (input)="filterSongs()" type="text" [(ngModel)]="searchText">
            </mat-form-field>
            <mat-form-field id="category-field">
            <mat-label>Category</mat-label>
            <mat-select (openedChange)="refreshCategories()" (selectionChange)="filterSongs()" [(ngModel)]="selectedCategory">
                <mat-option value="All">All</mat-option>
                <mat-option *ngFor="let category of categories" [value]="category">{{category}}</mat-option>
            </mat-select>
            </mat-form-field>
        </div>
        <mat-list>
        <app-song *ngFor="let songComponent of filteredSongs" [song]="songComponent" (songClicked)="onSongClicked($event)"></app-song>
        </mat-list>
    </div>
    <div class="right-section">
    <app-current-song [song]="currentSong"></app-current-song>
    <mat-divider id="mobile-divider"></mat-divider>
    </div>
</section>
