<main>
  <mat-toolbar-row class="header">
    <span class="logo">
      <mat-icon id="piano-icon">piano</mat-icon>
      <h2 id="name">Player Piano Control Webapp</h2>
    </span>
    <button mat-icon-button [matMenuTriggerFor]="menu" id="side-menu" aria-label="Options">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openAddSongDialog()">
        <mat-icon>library_music</mat-icon>
        <span>Add New Song</span>
      </button>
      <button mat-menu-item (click)="openAddCategoryDialog()">
        <mat-icon>category</mat-icon>
        <span>Add New Category</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
  <app-song-list [currentTime]="playbarTime" [currentSong]="currentSong"></app-song-list>
  <div class="playback-speed-control">
    <mat-slider class="playback-slider" [disabled]="false" [max]="2" [min]="0.5" [step]="0.1" [discrete]="false"
      [showTickMarks]="true">
      <input matSliderThumb [(ngModel)]="playbackMultiplier" #slider>
    </mat-slider>
    <span class="playback-readout">
      {{ slider.value }}x
    </span>
  </div>
  <div class="scrollable-content">
    <div class="canvas-parent-container">
      <tile-canvas (tileStateChanged)="handleTileStateChanged($event)" [currentTime]="currentTime" [TileData]="tileData"
        [playbackMultiplier]="playbackMultiplier"></tile-canvas>
    </div>
    <div class="keyboard-scroll-container">
      <keyboard [keyColors]="keyColors" (keyPressed)="handleKeyPressed($event)"></keyboard>
    </div>
  </div>
  <router-outlet />
</main>